<style type="text/tailwindcss">
    @layer utilities {
        body {
            @apply bg-PrimaryBlue
        }

        /* forms */
        .form-element {
            @apply my-2
        }
        .form-element input {
            @apply bg-white rounded-lg shadow text-center
        }
        
        .form-element label {
            @apply hidden
        }
        .form-btn-success {
            @apply bg-SecondaryBlue px-3 py-1 rounded-lg
        }

        /* buttons */
        .btn-danger {
            @apply bg-Danger px-3 py-1 rounded-lg text-white
        }

        /* headers */
        .page-header {
            @apply text-4xl font-bold
        }

    }
  </style>